<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
	<%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
    	<% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %>
        <% } %>
        <div class="publishby">
        	<%= __('copyright.theme_by') %> <a href="https://github.com/cofess" target="_blank"> cofess </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure" target="_blank">pure</a>.<br />
            <a href="https://beian.miit.gov.cn" target="_blank">皖ICP备17010158号-2</a>  
            <a href="https://beian.mps.gov.cn/#/query/webSearch?code=34019202002215" rel="noreferrer" target="_blank"><img src="/images/ga-beian.png" style="height:15px;vertical-align:middle;">皖公网安备34019202002215</a>
        </div>
    </div>
</footer>